*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

button{
  color: white;
  background-color: #1646a0;
  padding: 0 45px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #FFF;
  text-transform: uppercase;
  cursor: pointer;
  transition: .4s;
}
button:hover{
  background-color: rgb(68, 66, 193);
}